mkdocs==1.6.1
mkdocs-material==9.6.9
mkdocs-material[imaging]
Markdown==3.7
pymdown-extensions==10.14.3
cairosvg>=2.5
pillow>=9.0 

# Test dependencies
pytest==8.0.0
pytest-cov==4.1.0
requests==2.32.2
pyyaml==6.0.1 